@import "./mixins";

.about {
    @include about;
}
.description {
  @include description;
}
.image {
   @include image;
   border-radius: 2rem 8rem 2rem 8rem;
}
.hide {
    @include hide
}
.wave_svg {
  position: absolute;
  left: 0;
  z-index: 1;
}
