@import "./mixins";

.about {
    @include about;
    font-family: 'Poppins', sans-serif;
}
.description {
  @include description;
  p {
    font-weight: 300;
  }
}
.image {
   @include image;
   border-radius: 2rem 8rem 2rem 8rem;
}
.hide {
    @include hide
}
.wave_svg {
  position: absolute;
  left: 0;
  z-index: 1;
}
.title {
 font-weight: 600;
 line-height: 5rem;
}
