.contact_style {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 8rem 10rem 0rem 10rem;
    color: #353535;
    min-height: 80vh;
    font-family: "Montserrat", sans-serif;
    
}
.contact_header {
    flex-basis: 100%;
    color: white;
    margin: 2rem 0rem 5rem 0rem;
}
.contact_title {
    color: black;
    width: 50%;
}
.hide {
    overflow: hidden;
}
.circle {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    background: #ffffff;
}
.social {
    display: flex;
    align-items: baseline;
    align-items: center;
    h2 {
        margin: 1.5rem;
        display: flex;
        align-items: center;
        a{
            font-size: 2rem;
            text-decoration: none;
            color: white;
            &:visited {
                color: white;   
              }
            &[href^="mailto:"] {
                color: white;
              }
        }
    }
}
.contact_container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 4rem;
}
.contact_list {
    flex: 1 1;
    flex-basis: 60%;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 59, 59, 0.4);
    padding: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 1px solid #23d997;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.contact_txt {
    overflow: hidden;
    flex-basis: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    p {
        font-size: 1.6rem;
        margin-right: 5rem;
        //color: #909090;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        text-align: justify;
    }
    h2 {
        font-size: 3rem;
        width: 90%;
        border-bottom: 1px solid rgb(255, 255, 255)
    }
}
.contact_svg {
    width: 4rem;
    margin-left: 1rem;
    transform: translateY(6px);
}

