.contact_style {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5rem 10rem;
    color: #353535;
    min-height: 90vh;
    font-family: "Montserrat", sans-serif;
    
}
.contact_title {
    margin-bottom: 2rem;
    color: black;
    width: 60%;
}
.hide {
    overflow: hidden;
}
.circle {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: #ffffff;
}
.social {
    display: flex;
    align-items: baseline;
    align-items: center;
    h2 {
        margin: 1.5rem;
        display: flex;
        align-items: center;
        a{
            font-size: 2.2rem;
            text-decoration: none;
            &:visited {
                color: inherit;
              }
            &[href^="mailto:"] {
                color: inherit;
              }
        }
    }
}
.contact_container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    align-items: flex-start;
    justify-content: space-between;
}
.contact_list {
    //flex: 1 1;
    flex-basis: 60%;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 59, 59, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.contact_txt {
    overflow: hidden;
    flex-basis: 50%;
    color: white;
    p {
        font-size: 1.7rem;
        //color: #909090;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: lighter;
    }
    h2 {
        font-size: 3rem;
        width: 90%;
        border-bottom: 1px solid rgb(255, 255, 255)
    }
    

}
.contact_svg {
    width: 4rem;
    margin-left: 1rem;
    transform: translateY(6px);
}

