.courses {
    padding: 4rem 0rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #121212;
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        flex-basis: 100%;
        text-align: center;
        font-size: 3rem;
    }
}
.courses_container {
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    padding: 5rem 0rem 4rem 0rem;
}
.course {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    padding: 2rem 2rem 2rem 4rem;
    justify-content: center;
    border: 2px #1cf5a5 solid;
    //background: #222222;
    background: transparent;
    border-radius: 10px;
    min-height: 27vh;
    margin-left: 1.5rem;
    p {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }
    img {
        height: 4rem;
    }
}
.img_container {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
    
}
.course_description {
    width: 100%;
    p {
        text-align: left;
    }
    p:first-of-type {
        font-size: 1.4rem;
    }
    
}
@media (max-width: 1100px) {
    .course {
        width: 28%;
    }
}
@media (max-width: 955px) {
    .courses_container {
        justify-content: space-evenly;
    }
    .course {
        padding: 1rem 1rem 1rem 2rem;
    }
}
@media (max-width: 750px) {
    .course {
       flex-basis: 40%;
       &:nth-child(3) {
        margin-top: 3rem;
    }
    }
}
@media (max-width: 545px) {
    .course {
       flex-basis: 60%;
        margin-top: 2rem;
        &:nth-child(3) {
        margin-top: 2rem;
        }
    }
}
@media (max-width: 463px) {
    .course {
       flex-basis: 80%;
    }
}
