@import "./mixins";

.faq {
    @include about;
    display: block;
    padding: 5rem 14rem 0rem 14rem;
    min-height: 75vh;
    span {
        display: block;
    }
    h2 {
        font-size: 3rem;
        padding-bottom: 3rem;
        font-weight: lighter;
    }
    .faq-line  {
        background: #cccccc;
        height: 0.2rem;
        margin: 0.5rem 0rem;
        width: 100%;
    }
    .question {
        padding: 1rem 0rem;
        cursor: pointer;
    }
    .answer {
        padding: 0.5rem 0rem;
        p {
            padding:0rem;
        }
    }
    .highlight_line {
        background: #23d997;
        transition: ease-in-out 0.75s;
    }
}


