.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 14rem;
    align-items: center;
    min-height: 10vh;
    background: #282828;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.logo_container a {
    :hover {
        scale: 1.1;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    img {
        height: 2rem;
        width: auto;
        margin-left: 1rem;   
    }
}
 
