@media(max-width: 1300px){
    .about{
        display: block;
        padding: 2rem 2rem;
        text-align: center;
    }
    .description {
        padding: 0;
        button {
            margin: 2rem 0rem 5rem 0rem;
        }
    }
    .skills {
        justify-content: center;
    }
    nav {
        flex-direction: column;
        padding: 2rem 1rem;
        ul {
            padding: 2rem;
            justify-content: space-around;
            width: 100%;
            li {
                padding: 0;
            }
        }
        .nav_line {
            left: 0%;   
        }  
    }
    #logo {
        display: inline-block;
        margin: 1rem;
    }
    .my_work {
        padding: 2rem 2rem;
    }
    .contact_style {
        padding: 2rem;
        font-size: 1rem;
    }
    .contact_title {
        margin-top: 5rem;
    }
}