.vertical_container {
    padding: 3rem 3rem;
    display: flex;
    background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(19, 9, 22), #240024, rgb(27, 27, 27));
    //background: linear-gradient(to bottom, rgb(27, 27, 27), #6a6a6a);
    //background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgb(40, 0, 38) 8.3%, #2d0132 79.4% );
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.vertical-timeline {
    margin: 0;  
}
.vertical-timeline-element span  {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.education_header {
    color: white;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 0rem 0rem 3rem 0rem;
}
.vertical-timeline::before {
    background: rgb(125, 125, 125);
}
.vertical-timeline-element-content {
    color: white;
    background: rgba(66, 66, 66, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 3px 0 #10d68d;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    h3 {
        color: white;
    }
}
.vertical-timeline-element-title {
    font-size: 1.4rem;
    font-weight: 500;
}
.vertical-timeline-element-subtitle {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    font-weight: 200;
}
.vertical-timeline-element-subtitle_date {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    font-weight: 200;
    color: rgb(132, 131, 131);
}
.vertical-timeline-element-date {
    color: #10d68d;
}
.vertical-timeline-element-icon img {
    height: 75%;
    width: auto;
    border-radius: 50%;
}
@media(max-width: 1169px) {
    .vertical_container {
        padding: 3rem 19rem;
    }
}
@media(max-width: 1000px) {
    .vertical_container {
        padding: 3rem 15rem;
    }
}
@media(max-width: 885px) {
    .vertical_container {
        padding: 3rem 10rem;
    }
}
@media(max-width: 769px) {
    .vertical_container {
        padding: 3rem 5rem;
    }
}
@media(max-width: 635px) {
    .vertical_container {
        padding: 3rem 1rem;
    }
}
