* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1700px) {
  html {
    font-size: 75%;
  }
}

body {
  background: #1b1b1b;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #23d997;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  font-family: "Inter", sans-serif;
}
button:hover {
  background-color: #23d997;
}

h2 {
  font-weight: lighter;
  font-size: 4rem;
}

h3 {
  color: white;
  padding-top: 0.8rem;
  font-weight: lighter;
  font-size: 1rem;
}

h4 {
  font-weight: bold;
  font-size: 2rem;
}

a {
  font-size: 1.1rem;
}

span {
  font-weight: bold;
  color: #23d997;
}

p {
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.2rem;
  line-height: 150%;
}

.about {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

.description {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
}
.description h2 {
  font-weight: lighter;
}
.description p {
  font-weight: 300;
}

.image {
  flex: 1;
  overflow: hidden;
  z-index: 2;
  border-radius: 2rem 8rem 2rem 8rem;
}
.image img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hide {
  overflow: hidden;
}

.wave_svg {
  position: absolute;
  left: 0;
  z-index: 1;
}

.title {
  font-weight: 600;
  line-height: 5rem;
}

.myStack {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: white;
  align-items: flex-start;
  min-height: 73vh;
  background: url("../img/background1.jpg") center center/cover no-repeat;
  background-attachment: fixed;
}
.myStack h2 {
  padding-bottom: 2rem;
  flex-basis: 100%;
}
.myStack p {
  width: 70%;
  padding: 2rem 0rem 4rem 0rem;
}

.stack_icons {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 2rem;
  flex-basis: 50%;
}
.stack_icons h2 {
  font-weight: lighter;
}
.stack_icons h2 {
  font-size: 3rem;
}
.stack_icons .my_work_button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #23d997;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  font-family: "Inter", sans-serif;
  margin-top: 4rem;
  padding: 1rem 3.5rem;
}
.stack_icons .my_work_button:hover {
  background-color: #23d997;
}

.about_text {
  flex-basis: 50%;
}
.about_text h2 {
  font-size: 3rem;
}
.about_text div {
  font-size: 1.2rem;
  line-height: 160%;
  text-align: justify;
}

.image {
  flex: 1;
  overflow: hidden;
  z-index: 2;
}
.image img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 -1rem;
  align-self: flex-start;
  width: 70%;
}

.skill {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 1rem;
  align-items: center;
}
.skill .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eff0f0;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
.skill .icon img {
  max-width: 65%;
  max-height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.skill h3 {
  margin-top: 0rem;
}
.skill .skill_text {
  width: 5rem;
  text-align: center;
}
.skill .skill_text h3 {
  font-size: 0.8rem;
}

#icon1 {
  background: rgb(250, 241, 195);
}

#icon2 {
  background: rgb(252, 233, 242);
}

.faq {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: white;
  display: block;
  padding: 5rem 14rem 1rem 14rem;
  min-height: 75vh;
  background-image: linear-gradient(to bottom, #121212, #383838);
  font-family: "Poppins", sans-serif;
}
.faq span {
  display: block;
}
.faq h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: lighter;
}
.faq .faq-line {
  background: #cccccc;
  height: 0.2rem;
  margin: 0.5rem 0rem;
  width: 100%;
}
.faq .question {
  padding: 1rem 0rem;
  cursor: pointer;
}
.faq .question h4 {
  font-weight: 600;
  font-size: 2.1rem;
}
.faq .answer {
  padding: 0.5rem 0rem;
}
.faq .answer p {
  padding: 0rem;
  font-weight: 300;
}
.faq .highlight_line {
  background: #23d997;
  transition: ease-in-out 0.75s;
}

nav {
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background: #282828;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav a {
  color: white;
  text-decoration: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav #logo {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  font-weight: lighter;
}
nav li {
  padding-left: 10rem;
  position: relative;
}
nav .nav_line {
  height: 0.3rem;
  background: #23d997;
  width: 0%;
  position: absolute;
  bottom: -80%;
  left: 60%;
}

.my_work {
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 10rem;
}
.my_work h2 {
  padding: 1rem 0rem;
}

.my_app {
  padding-bottom: 10rem;
}
.my_app .line {
  height: 0.5rem;
  background: #23d997;
  margin-bottom: 3rem;
}
.my_app img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hide_img {
  overflow: hidden;
}

.frame1, .frame4, .frame3, .frame2 {
  position: fixed;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100vh;
  background: #fffebf;
  z-index: 2;
}

.frame2 {
  background: #D96ED4;
}

.frame3 {
  background: #8b53a8;
}

.frame4 {
  background: #30f5c0;
}

.details {
  color: white;
}

.head_line {
  min-height: 90vh;
  padding-top: 20vh;
  position: relative;
}
.head_line h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.head_line img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.awards {
  min-height: 80vh;
  display: flex;
  margin: 5rem 10rem;
  align-items: center;
  justify-content: space-around;
}

.award_style {
  padding: 5rem;
}
.award_style h3 {
  font-size: 1.8rem;
}

.line {
  width: 100%;
  background: #23d997;
  height: 0.5rem;
  margin: 1rem 0rem;
}

p {
  padding: 2rem 0rem;
}

.image_display {
  min-height: 50vh;
}
.image_display img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact_style {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 8rem 10rem 0rem 10rem;
  color: #353535;
  min-height: 80vh;
  font-family: "Montserrat", sans-serif;
}

.contact_header {
  flex-basis: 100%;
  color: white;
  margin: 2rem 0rem 5rem 0rem;
}

.contact_title {
  color: black;
  width: 50%;
}

.hide {
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  background: #ffffff;
}

.social {
  display: flex;
  align-items: baseline;
  align-items: center;
}
.social h2 {
  margin: 1.5rem;
  display: flex;
  align-items: center;
}
.social h2 a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.social h2 a:visited {
  color: white;
}
.social h2 a[href^="mailto:"] {
  color: white;
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 4rem;
}

.contact_list {
  flex: 1 1;
  flex-basis: 60%;
  color: rgb(255, 255, 255);
  background-color: rgba(59, 59, 59, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  border: 1px solid #23d997;
}

.contact_txt {
  overflow: hidden;
  flex-basis: 50%;
  color: white;
}
.contact_txt p {
  font-size: 1.6rem;
  margin-right: 5rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  text-align: justify;
}
.contact_txt h2 {
  font-size: 3rem;
  width: 90%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.contact_svg {
  width: 4rem;
  margin-left: 1rem;
  transform: translateY(6px);
}

@media (max-width: 1300px) {
  .about {
    text-align: center;
    padding: 2rem 6rem;
  }
  .image {
    padding: 0rem;
  }
  .description {
    padding: 0;
    margin-right: 1rem;
    text-align: left;
  }
  .description button {
    margin: 2rem 0rem 5rem 0rem;
  }
  .skills {
    justify-content: left;
  }
  .contact_title {
    flex-basis: 50%;
    padding-right: 4rem;
  }
  nav {
    flex-direction: column;
    padding: 0;
  }
  nav ul {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    justify-content: space-around;
    width: 100%;
  }
  nav ul li {
    padding: 0;
  }
  nav .nav_line {
    left: 0%;
  }
  #logo {
    display: inline-block;
    margin: 1rem;
  }
  .my_work {
    padding: 2rem 4rem;
  }
  .contact_style {
    padding: 8rem 5rem 0rem 5rem;
    font-size: 1rem;
  }
  .contact_txt h2 {
    width: 100%;
  }
  .contact_txt p {
    margin-right: 0;
  }
}
@media (max-width: 1250px) {
  .skills {
    width: 95%;
  }
}
@media (max-width: 1110px) {
  .about {
    display: block;
    padding: 2rem 10rem;
  }
  .description {
    text-align: center;
  }
  .image img {
    width: 80%;
    border-radius: 2rem 8rem 2rem 8rem;
    height: 63vh;
  }
  .app_container {
    flex-wrap: wrap;
  }
  .app_container img {
    flex-basis: 100%;
  }
  .app_container .app_description {
    flex-basis: 100%;
    margin-top: 3rem;
    margin-left: 0;
  }
  .app_container .stack {
    margin-top: 2rem;
  }
  .app_container .stack_container {
    margin-top: 1rem;
    flex-basis: 60%;
  }
  .app_container .app_buttons {
    margin-top: 3rem;
  }
  .myStack {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 5rem 17rem;
  }
  .skills {
    width: 70%;
  }
  .stack_icons {
    flex-basis: 100%;
    align-content: center;
    padding-top: 3rem;
    flex-wrap: nowrap;
    padding-top: 5rem;
  }
  .about_text div {
    font-size: 1.3rem;
  }
}
@media (max-width: 1055px) {
  .contact_style {
    justify-content: center;
    padding-top: 6rem;
  }
  .contact_title {
    flex-basis: 60%;
  }
  .contact_container {
    flex-basis: 60%;
    margin-top: 3rem;
  }
}
@media (max-width: 955px) {
  .contact_style {
    flex-wrap: wrap;
    padding: 8rem 3rem 2rem 3rem;
  }
  .contact_header {
    flex-basis: 80%;
    text-align: left;
    margin: 0;
    margin-bottom: 3rem;
    display: none;
  }
  .contact_container {
    padding-right: 3rem;
    margin-top: 3rem;
    flex-basis: 60%;
  }
  .contact_title {
    width: 80%;
  }
  .myStack {
    padding: 5rem 12rem;
  }
}
@media (max-width: 885px) {
  .about {
    padding: 2rem 5rem;
  }
  .contact_container, .contact_title {
    flex-basis: 70%;
  }
  .contact_title {
    padding: 0;
  }
  .contact_container {
    padding: 0;
  }
  .footer_container {
    padding: 0;
  }
  .contact_style {
    padding: 4rem 3rem 2rem 3rem;
  }
  .skills {
    width: 100%;
  }
}
@media (max-width: 765px) {
  .about {
    padding: 2rem 3rem;
  }
  .image img {
    width: 80%;
  }
  .contact_title, .contact_container {
    flex-basis: 90%;
  }
  .myStack {
    padding: 5rem 8rem;
  }
}
@media (max-width: 650px) {
  .my_work {
    padding: 2rem 3rem;
  }
  .myStack {
    padding: 5rem;
  }
  .image img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .image img {
    height: 55vh;
  }
  .my_work {
    padding: 2rem 2rem;
  }
  .myStack {
    padding: 5rem 3rem;
  }
}
@media (max-width: 430px) {
  .contact_title, .contact_container {
    flex-basis: 100%;
  }
  .myStack {
    padding: 5rem 3rem;
  }
  .stack_icons {
    padding-right: 0rem;
  }
}
@media (max-width: 390px) {
  .contact_style {
    padding: 4rem 2rem 0rem 2rem;
  }
  .contact_title, .contact_container {
    flex-basis: 100%;
  }
  .contact_txt h2 {
    font-size: 2.8rem;
  }
  .contact_txt p {
    font-size: 1.5rem;
  }
  .social h2 a {
    font-size: 1.6rem;
  }
  .contact_list {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  .footer_container {
    flex-wrap: wrap;
  }
  .logo_container {
    margin-top: 1rem;
  }
}
.my_app {
  padding-bottom: 6rem;
}

.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.stack .stack_img {
  flex-basis: 10%;
  margin: 0;
}
.stack .stack_img img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stack_text {
  flex-basis: 100%;
}

.stack_container {
  display: flex;
  flex-basis: 100%;
}

.app_container {
  display: flex;
}
.app_container img {
  width: 50%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.app_description {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin-left: 3rem;
  text-align: justify;
}
.app_description div {
  font-size: 1.3rem;
}

.app_header {
  font-size: 2.8rem;
}

.app_buttons {
  display: flex;
  align-items: flex-end;
  flex-basis: 100%;
}
.app_buttons button {
  background-color: #23d997;
  width: 8.3rem;
}
.app_buttons button:hover {
  background: transparent;
  color: #23d997;
}
.app_buttons :nth-child(2) {
  margin-left: 2rem;
}

.vertical_container {
  padding: 3rem 3rem;
  display: flex;
  background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(19, 9, 22), #240024, rgb(27, 27, 27));
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.vertical-timeline {
  margin: 0;
}

.vertical-timeline-element span {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.education_header {
  color: white;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 0rem 0rem 3rem 0rem;
}

.vertical-timeline::before {
  background: rgb(125, 125, 125);
}

.vertical-timeline-element-content {
  color: white;
  background: rgba(66, 66, 66, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0 3px 0 #10d68d;
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.vertical-timeline-element-content h3 {
  color: white;
}

.vertical-timeline-element-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.vertical-timeline-element-subtitle {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: 200;
}

.vertical-timeline-element-subtitle_date {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: 200;
  color: rgb(132, 131, 131);
}

.vertical-timeline-element-date {
  color: #10d68d;
}

.vertical-timeline-element-icon img {
  height: 75%;
  width: auto;
  border-radius: 50%;
}

.courses {
  padding: 4rem 0rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121212;
}
.courses h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  flex-basis: 100%;
  text-align: center;
  font-size: 3rem;
}

.courses_container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding: 5rem 0rem 4rem 0rem;
}

.course {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 25%;
  padding: 2rem 2rem 2rem 4rem;
  justify-content: center;
  border: 2px #1cf5a5 solid;
  background: transparent;
  border-radius: 10px;
  min-height: 27vh;
  margin-left: 1.5rem;
}
.course p {
  flex-basis: 100%;
  text-align: center;
  padding: 0;
}
.course img {
  height: 4rem;
}

.img_container {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}

.course_description {
  width: 100%;
}
.course_description p {
  text-align: left;
}
.course_description p:first-of-type {
  font-size: 1.4rem;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 14rem;
  align-items: center;
  min-height: 10vh;
  background: #282828;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.logo_container a :hover {
  scale: 1.1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo_container a img {
  height: 2rem;
  width: auto;
  margin-left: 1rem;
}

@media (max-width: 885px) {
  .footer_container {
    padding: 1rem 3rem;
  }
}/*# sourceMappingURL=app.css.map */